GITHUB_OWNER=miksik454
GITHUB_REPO=zora-client-files
GITHUB_BRANCH=main
GITHUB_BRANCHES=main,master
GITHUB_TOKEN=replace_with_new_pat
MANIFEST_PATHS=manifest.json,dist/manifest.json
LAUNCHER_UPDATE_PATHS=launcher-update.json,dist/launcher-update.json
